<ul class="detail-list">
	<li ng-repeat="item in listCtrl.list">
		<div nav-link-details="item" class="detail-item">
			<!--<div class="item-wrap">
				<div class="line">
					<span>Процессоры</span>
				</div>
			</div>-->
		</div>
	</li>
	<!--<li>
		<div class="detail-item">
			<div class="item-wrap">
				<div class="line">
					<span>Материнские платы</span>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="detail-item">
			<div class="item-wrap">
				<div class="line">
					<span>Корпуса</span>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="detail-item">
			<div class="item-wrap">
				<div class="line">
					<span>Видеокарты</span>
				</div>
			</div>
		</div>
	</li>-->

</ul>