<figure>
    <!--<div class="img">

    </div>-->
    <div class="img-wrap">
        <img ng-src="{{item.img}}">
    </div>
    <figcaption>{{item.caption}}
    </figcaption>
</figure>
<div class="good-footer">
    <div class="left-side">
        <div class="price-wrap">
            <span class="number">{{item.price}} </span><span class="currency">грн</span>
        </div>
        <div class="state-wrap">
            <span>{{item.condition}}</span>
        </div>
        <div class="topseller-wrap">
            <!--	Лучший выбор!
                <img src="img/medal.png">-->
        </div>
    </div>
    <div class="right-side">
        <div class="buy-wrap">
            <div class="buy">
                Buy
            </div>
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        </div>


    </div>

</div>